{% extends 'home/base.html' %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block blogactive %}active{% endblock blogactive %}

{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #section {
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
        background-color: peachpuff;
    }

    .content {
        padding: 1rem;
    }

    .content h1 {
        text-align: center;
        font-weight: 800;
        text-decoration: underline;
    }

    .content h4 {
        text-decoration: underline;
        font-weight: 600;
    }

    .links {
        border-left: 0.25rem solid white;
        width: -webkit-fill-available;
        /* background-color: thistle; */
    }

    #image {
        display: flex;
        /* align-items: center; */
    }

    #image img {
        height: max-content;
        width: max-content;
    }

    .container {
        margin-bottom: 50px;
    }

    .cmnt {
        background-color: #f6f6f6;
        border: 1px solid gainsboro;
        display: flex;
        border-radius: 4px;
        margin: 15px 0;
        padding: 10px;
    }

    .cmnt img {
        border-radius: 34px;
        width: 117px;
    }

    .commentdetails {
        padding-top: 10px;
        height: 86px;
    }

    .actualcomment {
        padding-bottom: 19px;
    }

    #comment {
        width: 100%;
        height: 135px;
        border-radius: 0.5rem;
        padding: 10px;
    }

    #notloggedin {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1 rem;
    }

    .reply-login {
        color: inherit;
    }

    .auth {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .auth p {
        margin-bottom: 0;
        color: grey;
    }
    .auth span{
        font-size: 12px;
    }

    .auth-hr {
        height: 3px;
        color: #670000;
        margin: 5px;
        margin-bottom: 12px;
    }
</style>
{% endblock style %}

{% block body %}
{% load humanize %}
{% load extras %}

<body>

    <div id="section">
        <div class="content">
            <h1>{{post.title}}</h1>
            <div class="auth">
                <!-- <p>from {{post.author}} &nbsp; | &nbsp; {{post.timestamp}} &nbsp; | &nbsp; {{post.views}}</p> -->
                <p>from {{post.author}}  |  {{post.timestamp|naturaltime}} <span>({{post.views}} views)</span></p>
            </div>
            <hr class="auth-hr">
            <h4># {{post.head1|safe}}</h4>
            <div id="image">
                <p>{{post.desc1|safe}}</p>
                <img src="/media/{{post.thumbnail}}" alt="{{post.title}}">
            </div>
            <h4># {{post.head2}}</h4>
            <p>{{post.desc2}}</p>
            <h4># {{post.head3}}</h4>
            <p>{{post.desc3}}</p>
            {% comment %} <div class="fb">
                <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}"
                    data-numposts="5">
                </div> {% endcomment %}
            </div>
        </div>

        <div class="container">
            <h1>Comments</h1>
            <hr>
            {% if user.is_authenticated %}
            <!-- add-a-comment template -->
            <div>
                <h3>Add a comment</h3>
                <form action="/blog/postcomment/" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="comment" class="form-label"></label>
                        <textarea name="comment" id="comment"
                            placeholder="add your comment here for others to see..."></textarea>
                    </div>
                    <input type="hidden" name="parent" value="">
                    <input type="hidden" name="post" value={{post.post_id}}>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Post Comment</button>
                        <hr>
                    </div>
                </form>
            </div>
            {% else %}
            <div id="notloggedin">
                <h3>Please login to comment</h3>
                <!-- Login button -->
                <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login Here
                </button>
            </div>
            {% endif %}


            {% if thank %}
            <div style="text-align: center;">
                <hr>
                <h3 style="text-decoration: underline;">Be the first one to comment</h3>
                <p>Since there are no comments</p>
            </div>
            {% else %}
            <h3>Comments ({{total}})</h3>
            <hr>
            <!-- display-comment template -->
            {% for cmnt in cmnts %}
            <div class="cmnt">
                <div class="commentimg"><img src="/static/blogpost/img/user.png" alt="user img"></div>
                <div style="width: 100%;">
                    <div class="commentdetails">
                        {{cmnt.user.first_name}} {{cmnt.user.last_name}} <br> {{cmnt.timestamp|naturaltime}}
                        <hr>
                    </div>
                    <div class="actualcomment">
                        {{cmnt.comment}}
                    </div>

                    <!-- Post a Reply -->
                    {% if user.is_authenticated %}
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#reply-{{cmnt.comment_id}}" aria-expanded="false"
                        aria-controls="reply-{{cmnt.comment_id}}">
                        Reply
                    </button>
                    {% else %}
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" disabled
                        data-bs-target="#reply-{{cmnt.comment_id}}" aria-expanded="false"
                        aria-controls="reply-{{cmnt.comment_id}}">
                        Reply
                    </button>
                    <p style="display: inline-block;">(please <a href="#" class="reply-login" data-bs-toggle="modal"
                            data-bs-target="#loginModal">login</a> to reply)</p>
                    {% endif %}
                    <div class="collapse" id="reply-{{cmnt.comment_id}}">

                        <form action="/blog/postcomment/" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="comment" class="form-label"></label>
                                <textarea name="comment"
                                    placeholder="reply this comment for others to see..."></textarea>
                            </div>
                            <input type="hidden" name="parent" value="{{cmnt.comment_id}}">
                            <input type="hidden" name="post" value={{post.post_id}}>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Post Reply</button>
                                <hr>
                            </div>
                        </form>

                    </div>

                    <!--Displaying Replies -->
                    {% for reply in replydict|get_val:cmnt.comment_id %}
                    <!-- replydict|get_val:cmnt.comment_id returns a list of all replies -->
                    <div class="cmnt">
                        <div class="commentimg"><img src="/static/blogpost/img/user.png" alt="repliers-img"></div>
                        <div style="width: 100%;">
                            <div class="commentdetails">
                                {{reply.user.first_name}} {{reply.user.last_name}} <br> {{reply.timestamp|naturaltime}}
                                <hr>
                            </div>
                            <div class="actualcomment">
                                {{reply.comment}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

</body>
{% endblock body %}